.post {
background-color: white;
padding: 15px;
margin-bottom: 10px;
border-radius: 10px;
}
.postHeader {
    display: flex;
    margin-bottom: 10px;

}
.headerInfo {
    margin-left: 12px;
    color: gray;

}
.headerInfo > h2 {
    font-size: 15px;
}
.postBody {
    overflow-wrap: anywhere;
}

.postButtons {
    display: flex;
    justify-content: space-evenly
}
