.IconStyles {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    color: gray;
    cursor: pointer;
}

.IconStyles:hover {
    color: black;
}
.title {
    font-size: 14px;
    font-weight: 600;
}

.icon {
    object-fit: contain;
    height: 25px !important;
   
}
.avatar {
    object-fit: contain;
    height: 25px !important;
    width: 25px !important;
    padding-bottom: 5px;
    margin-top: -5px;
}