.widgetsContainer {
    position: sticky;
    top: 80px;
    flex: 0.2;
    background-color: white;
    border-radius: 10px;
    border: 1px solid lightgray;
    height: fit-content;
    padding-bottom: 10px;
}

.widgetsHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.widgetsHeader >h2 {
    font-size: 16px;
    font-weight: 400;
}
.articleContainer {
    display: flex;
    padding: 10px;
    cursor: pointer;
}
.articleContainer:hover {
    background-color: whitesmoke;
}
.articleBullet {
    color: #0177b7;
    margin-right: 5px;
}
.bulletIcon {
    font-size: 7px;
}
.articleRight {
    flex: 1;
}
.articleRight > h4{
    font-size: 14px;
}
.articleRight > p{
    font-size: 12px;
    color: gray;
}