.feedContainer {
    flex: 0.6;
    margin: 0 20px;
}

.feedInputContainer {
    background-color: white;
    padding: 10px;
    padding-bottom: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.feedInput {
    border: 1px solid lightgray;
    border-radius: 30px;
    display: flex;
    padding: 10px;
    color: gray;
    padding-left: 15px;
    width: 100%;
}

.feedInput > form {
    display: flex;
    width:100%;
}
.feedInput > form > input {
    border: none;
    flex: 1;
    margin-left: 10px;
    outline-width: 0;
    font-weight: 600;
}
.feedInput > form > button {
    display: none;
}

.feedInputToolbar {
    display: flex;
    justify-content: space-evenly;
    
}
.feedInputItemContainer {
    display: flex;
    align-items: center;
    margin-top: 15px;
    color: gray;
    padding: 10px;
    cursor: pointer;
}
.feedInputItemContainer:hover {
    background-color: whitesmoke;
    border-radius: 10px;
}
.feedInputItemContainer > h4 {
    margin-left: 5px;
}

.photoInputContainer {
    display: flex;
}
.photoInput{
    margin-right: 5px;
}